.quorum {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.quorum li {
    display: block;
    padding: 8px 14px;
    border: 1px solid #ccc;
}

.quorum li + li {
    margin-left: 15px;
}

.internal-item {
    background: #f9f9f9;
    border-left: 4px solid #ccc;
}

.internal-item.aberto {
    border-left-color: #007bff;
}

.btn-pauta {
    margin-right: 10px;
}

.reuniao-card {
    margin-bottom: 20px;
    border-radius: 5px;
    background: #bce0ff;
    border: 1px solid #70b0d6;
    box-shadow: inset 0 1px 0 rgb(232, 232, 232);
}

.reuniao-desc {
    padding: 5px 10px;
    font-size: 22px;
}

.reuniao-data {
    padding: 0 10px;
}

.reuniao-opts {
    padding: 10px 10px;
}

.reuniao-status {
    color: #fff;
    /* border-bottom: 1px solid #70b0d6; */
    font-size: small;
    padding: 2px 5px;
}

.reuniao-aberto {
    background: #2c77b7;
}

.reuniao-fechado {
    background: #3e495d;
}

.fechado {
    color: #5d5d5d;
}

.voto-realizado {
    display: flex;
    flex-direction: row;
}

.voto-opcao {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.voto-opcao:first-child {
    border: none;
    margin-left: -20px;
}
.voto-opcao:last-child {
    border: none;
    margin-right: -20px;
}

.voto-nome {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.voto-votos {
    font-size: 20px;
    margin-bottom: 10px;
}

.voto-num {
    display: inline-block;
}

.voto-users {
    display: flex;
    flex-wrap: wrap;
}

.voto {
    display: flex;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
    margin: 5px;
}

.voto .voto-adendo {
    /* margin-left: 10px; */
    margin-right: -10px;
    padding: 0 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.voto .voto-adendo:hover {
    transform: scale(1.5);
}

.voto-sim .voto-nome {
    color: #47735f;
}

.voto-nao .voto-nome {
    color: #bb4343;
}

.voto-sim .voto {
    background: #5d947b;
}

.voto-nao .voto {
    background: #d66e6e;
}

.voto-abs .voto {
    background: #989898;
}

.timer-wrapper {
    display: flex;
    align-items: center;
}

.reuniao-timer {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    font-family: monospace;
}

#iniciar-reuniao {
    display: none;
}

#timer-wrapper.iniciar #finalizar-reuniao {
    display: none;
}

#timer-wrapper.iniciar #iniciar-reuniao {
    display: block;
}

.indicator {
    display: inline-block;
    padding-right: 5px;
}

.indicator .indicator-open {
    display: none;
}

.indicator .indicator-closed {
    display: inline;
}

.indicator.btn-aberto .indicator-open {
    display: inline;
}

.indicator.btn-aberto .indicator-closed {
    display: none;
}
